/* CSS */

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: clear;
    padding: clear;
}
/*BODY */
#form {
    border: 2px red dotted;
    margin: 0 auto;
    width: 500px;
    height: 200px;
    padding: 0 auto;
}
#HeadT {
    padding-left: 25px;
    font-size: 20px;
    color: blue;
}
label {
    padding-left: 25px;
    width: 200px;
    margin-left: -0px;
    text-align: left;
    position: absolute; /* Lines up the input boxes */
}
input {
    text-align: right;
    margin-left: 225px;
    margin-bottom: 10px;
}
#add, #multiply {
    position: relative;
    left: -105px;
    padding: 0 15px;
    margin: 5px;
    float: right;
    text-align: right;
    display: inline;
}
button {
    padding-right: 50px;
}

#message {
    position: relative;
    margin-left: 25px;
    top: 30px;
}