/*roll over div */
#rollButton {
margin: 10px;
}
/*roll over button */
#rollOverSun {
    background-color: yellow;
    color: rgb(180, 167, 167);
    border-radius: 50%;
    padding: 50px 10px;
    margin-left: 10px;
    font-size: 20px;
    border: rgb(180, 167, 167) solid .5px;
    text-align: center;
}
.active {
transition-duration: 0.5s;
transform: rotate(180deg);
}

.Jactive {
    transition-duration: 0.5s;
    transform: rotateY(180deg);
}
#mercuryButton {
    margin-left: 220px;
}

#mercury {
    background-color: red;
    font-size: 8px;
    text-align: center;
    padding: 15px 4px;
    border-radius: 50%;
    border: red solid .25px;
}
#jupiterButton {
    margin-left: 400px;
    margin-top: -150px;
}

#Jupiter {
    text-align: center;
    background-color: rgba(145, 8, 145, 0.789);
    color: white;
    font-size: 25px;
    padding: 125px 80px;
    border-radius: 50%;
    border-style: none;
}
#disNotes {
    position: relative;
    top: -675px;
    left: 475px;
    width: 100px;
}
/*p element*/
#hide {
    margin-top: -40px;
    margin-left: 35px;
    position: absolute;
}
.active {
    color: red;
}
