body {
    width: 100%;
    padding: clear;
    margin: clear;
    font-family: Tahoma;
    background-color: #fefeee;
}
/* Removing border from all images*/
a {
    border-style: none;
}
/* First Section */
.darkbackground {
    background-image: url("../images/body_bg.gif");
    margin: 0 auto;
}
/*First Section Header*/
section header {
    background-image: url("../images/top_bg1.jpg");
    background-repeat: no-repeat;
    height: 475px;
    width: 800px;
    margin: 40px auto;
}

.logo {
    margin-left: 153px;
}

.logobackground {
    margin-left: 19px;
}
/* Navigation */
header ul {
    width: 850px;
}

header li {
    font-size: 19px;
    color: black;
    line-height: 10px;
    margin: 0 auto;
    display: inline-block;
    text-decoration: none;
    padding-right: 70px;

}
/*Keep menu list items white */
a:link {
    color: white;
    text-decoration: none;
}    
a:visited {
    color:white;
    text-decoration: none;
} 
a:hover {
    color:white;
    text-decoration: none;
} 
a:active {
    color:white;
    text-decoration: none;
}
/*End of Header section*/
/*Section 2 */
.middle {
    background-color: #fefeee;
}
.middlediv {
    background-color: #fefeee;
    height: 450px;
    width: 800px;
    margin: 40px auto;
}
article {
    float: left;
    width: 350px;
    column-count: 1;
}
article h1 {
    color: #601d15;
}
/*Article 1*/
.A1 {
    margin-right: 50px;
    padding-left: 35px;
    border-right: 1px black solid;
}

button {
    cursor: pointer;
    border: none;
    background-color: #fefeee;

}
/*End of section 2*/

/*Footer*/
footer {
    background-image: url("../images/top_bg1.jpg");
    background-repeat: none;
    height: 50px;
    width: 800px;
    margin: 40px auto;
}
.below {
    float: left;
    margin: 15px 25px;
    color: white;
}
footer a {
    float: left;
    position: relative;
    right: -175px;
    margin: 7px 210px;
}
/* Thank you page */
@font-face {
    font-family: 'AdventuresTitles';
    src: url("../font/ARTIM.woff");
    font-style: normal;
    font-weight: 100;
}

.thanks {
    font-family: 'AdventuresTitles';
    text-transform: uppercase;
    padding-left: 37px;
    
}

/*Contact Form*/
form {
    margin: 0 auto;
    color: #601d15;
}

label {
    position: absolute;
    margin: 15px 0;
    padding-left: 0;
}
#op2 {
    position: relative;
    left: 30px;
    padding-right: 0;
}
input {
    margin: 15px 100px;
}
input[type="checkbox"] {
   margin-left: 160px;
   padding: 0 auto;
    
}
#comment {
    position: relative;
    top: 50px;
}
#commentL {
    position: absolute;
    top: 720px;
    
}
textarea {
    width: 500px;
    height: 100px;
}
#submit {
    background-color: #601d15;
    margin-top: 165px;
    color: white;
    padding: 5px 10px;
    border-radius: 12%;
    text-transform: uppercase;
}
input[type="submit"] {
   position: relative;
   left: -5px;
     
 }